html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body, html, #app, .component, .wrapper {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  --numOfImages: 1;
  width: calc(var(--numOfImages)* 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(calc(var(--idx, 0)/var(--numOfImages)*-100% + var(--dragged, 0px)));
}

.slide {
  transition: transform calc(var(--threshold, 1)* 0.5s) ease-out;
}

figure {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: auto;
}

figcaption {
  text-align: center;
  color: white;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* buttons */
button {
  width: 100px;
  height: 100px;
  background: transparent;
  outline: none;
  border: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.next {
  right: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
}

.next, .prev {
  padding: 0 2%;
  width: 0px; 
  height: 0px; 
  
}
.prev {
  left: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  
  border-right:30px solid white;
}

@media only screen and (max-width: 700px) {
  img {
    pointer-events: auto;
    touch-action: none;
  }
}