html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body, html, #app, .component, .wrapper {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  --numOfImages: 1;
  width: calc(var(--numOfImages)* 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(calc(var(--idx, 0)/var(--numOfImages)*-100% + var(--dragged, 0px)));
}

.slide {
  transition: transform calc(var(--threshold, 1)* 0.5s) ease-out;
}

figure {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: auto;
}

figcaption {
  text-align: center;
  color: white;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
  
.prev {
  left: 0;
}
  
.next {
  right: 0;
}
  
  
button {
  margin: 20px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50%
}
.next:before, .prev:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  top: 50%;
  left: 50%;
}
.next:before{
  transform: translate(-50%, -50%) rotateZ(45deg);
  border-left: none;
  border-bottom: none;
}
.next:after, .prev:after {
  content: '';
  position: absolute;
  width:25px;
  height: 2px;
  background:white;
  left: 0;
  transform: translate(50%, -50%)
}
.prev:before{
  transform: translate(-50%, -50%) rotateZ(-45deg);
  border-right: none;
  border-bottom: none
}

@media only screen and (max-width: 700px) {
  img {
    pointer-events: auto;
    touch-action: none;
  }
}